
body {
    display: flex;
    max-width: 1440px;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
    font-family: "Inter", sans-serif;
}

.card {
    display: flex;
    width: 1100px;
    height: 440px;
    background-color: hsl(244, 37%, 16%);
    border-radius: 15px;
}

.text {
    width: 50%;
    margin-left: 60px;
}

.text_name {
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin: 70px 120px 0 0;

}

.text_paragraph {
    font-size: 17px;
    color: hsla(0, 0%, 100%, 0.6);
    margin: 20px 120px 0 0;
    line-height: 150%;
    word-spacing: 2px;
}

.box {
    gap: 70px;
    display: flex;
    flex-direction: row;
}

.numeral {
    margin-top: 50px;
}

.numeral_number {
    margin: 0;
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.numeral_name {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
}

.image_box {
    background-color: hsl(277, 72%, 32%);
    width: 50%;
    border-radius: 0 15px 15px 0;
}

.image {
    width: 100%;
    height: 100%;
    opacity: 50%;
    border-radius: 0 15px 15px 0;
}
